* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }
html{
  height: 100%;
}

body{
  min-height: 97vh;
  display: flex;
  justify-content: center;
  background: -webkit-linear-gradient(135deg, rgba(79,173,82,255),rgba(147,188,53,255) );
}

form{
  margin-top:2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-div {

	margin-top:2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 80%;
 
}

.main-home {

	margin-top:5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 80%;
 
}

.main-div img{
  max-width: 45vh;
  max-height: 25vh;
  margin-bottom: 1%;
}

.main-div form label{
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3rem;
  margin-top: 1.5%;
}

.main-div form input{
  margin: 0.8%;
  width: 100%;
  min-height: 30px;
  font-size: 1rem;
}

.main-div form input:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.main-div form select{
  margin: 0.8%;
  width: 100%;
  min-height: 30px;
  font-size: 1rem;
}

.main-div form select:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#fecha{
  max-width: 30%;
  min-width: 230px;
  margin-bottom: 2%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: solid rgba(5, 5, 5, 0.918);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  max-width: 30%;
  min-width: 170px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.19);
  font-weight: bold;
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#loading {
  display: none;
  cursor: wait;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:2%;
  min-width: 500px;
  min-height: 300px;
  }

#content {
  display: flex;
}

#imgload {
  display: flex;
  height: 100%;
  width: 100%;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: rgb(0, 0, 0);
}