<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/renova-icon.png' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css' ) }}">
    {% block var_js %}{% endblock %}
    <title>RENOVA CSV</title>
</head>
<body>
   {% block main %}{% endblock %}
    <script src="{{ url_for('static', filename='js/loading.js' ) }}"></script>
</body>
</html>