{% extends "base.html" %}

{% block main %}
    <div class="main-home">
      
        <h1>Main</h1>
        <a href="{{url_for('renova')}}" class="button">RENOVA</a>
        <a href="#" class="button">GARANTÍAS</a>
    </div>
{% endblock %}