{% extends "base.html" %}
{% block var_js %}
<script type="text/javascript">
    var processing_CSV = "{{processing_CSV}}"
</script>
{% endblock %}

<!-- 
    <div class="main-div">
        <img src="../static/images/renova-cen.png">
        <form action="" method="post" id="content">
            <label for="fecha">Seleccionar mes a procesar:</label>
            <input type="month" name="fecha" id="fecha" min="2021-01" value="2021-01" required>
            <label for="access path">Ruta de la base de datos access:</label>
            <input type="text" name="access path" id="access path" placeholder=" Ej: C:Dir1/dir2/data_base.accdb" required>
            <label for="bernc path">Ruta del balance ERNC:</label>
            <input type="text" name="bernc path" id="bernc path" placeholder=" Ej: C:Dir1/dir2/bernc.xlsx" required>
            <label for="dicc path">Ruta del Diccionario:</label>
            <input type="text" name="dicc path" id="dicc path" placeholder=" Ej: C:Dir1/dir2/dicc.xlsx" required>
            <label for="dec last month path">Ruta de los decimales del mes anterior:</label>
            <input type="text" name="dec last month path" id="dec last month path" placeholder=" Ej: C:Dir1/dir2/dec_mes_anterior.xlsx" required>
            <input class="button" type="submit" value="PROCESAR" onclick="loading()">
        </form>
    </div>
 -->

{% block main %}
    <div class="main-div">
        <img src="../static/images/renova-cen.png">
        <form action="" method="post" id="content">
            <label for="fecha">Seleccionar mes a procesar:</label>
            <input type="month" name="fecha" id="fecha" min="2021-01" value="2021-01" required>
            <label for="val path">Ruta de la base de datos access:</label>
            <select name="val path" id="val path" required>
                {% for file in FILES['VALORIZADO_LIST'] %}
                    <option value={{file}}>{{file}}</option>
                {% endfor %}
            </select>
            <label for="bernc path">Ruta del balance ERNC:</label>
            <select name="bernc path" id="bernc path" required>
                {% for file in FILES['BERNC_LIST'] %}
                    <option value={{file}}>{{file}}</option>
                {% endfor %}
            </select>
            <label for="dicc gen path">Ruta del Diccionario de Generadores:</label>
            <select name="dicc gen path" id="dicc gen path" required>
                {% for file in FILES['DICCIONARIO_GEN_LIST'] %}
                    <option value={{file}}>{{file}}</option>
                {% endfor %}
            </select>
            <label for="dicc client path">Ruta del Diccionario de Clientes:</label>
            <select name="dicc client path" id="dicc client path" required>
                {% for file in FILES['DICCIONARIO_CLIENT_LIST'] %}
                    <option value={{file}}>{{file}}</option>
                {% endfor %}
            </select>
            <label for="dicc central path">Ruta del Diccionario de Centrales:</label>
            <select name="dicc central path" id="dicc central path" required>
                {% for file in FILES['DICCIONARIO_CENTRALES_LIST'] %}
                    <option value={{file}}>{{file}}</option>
                {% endfor %}
            </select>
            <label for="dec last month path">Ruta de los decimales del mes anterior:</label>
            <select name="dec last month path" id="dec last month path" required>
                {% for file in FILES['DECIMALES_LIST'] %}
                    <option value={{file}}>{{file}}</option>
                {% endfor %}
            </select>
            <input class="button" type="submit" value="PROCESAR" onclick="loading()">
        </form>
        <a href="{{url_for('main')}}">Inicio</a>
    </div>
{% endblock %}