{% extends "base.html" %}

{% block var_js %}
<script type="text/javascript">
    var processing_CSV = "{{processing_CSV}}"
</script>
{% endblock %}

{% block main %}
    <div class="main-div">
        <img src="../static/images/renova-cen.png">
        <div id="loading">
            <h2>Procesando archivos para el periodo {{fecha}}</h2>
            <img id="imgload" src="../static/images/loading.gif">
            <a href="{{url_for('renova')}}">Volver</a>
        </div>
        <div id="result">
            <h2>Periodo: {{fecha}}</h2>
            {% if mensaje|length == 1 %}
            <h2>{{mensaje}}</h2>
            {% else %}
            <h2>{{mensaje[0]}}</h2>
            <h3>Detalle: {{mensaje[1]}}</h3>
            {% endif %}
            <a href="{{url_for('renova')}}">Volver</a>
        </div>
    </div>
{% endblock %}